body {
       margin: auto;
       max-width: 760px;
       font-size: 100%;
       font-family: 'Libre Baskerville', Baskerville, Georgia, 'Times New Roman', serif;
       color: #666666;
    }

/*----------------- TYPOGRAPHY ---------------*/
    
    h1, h2, h3 {
        font-weight: normal;
        text-align: center;
        margin: 10px 0 10px 0;
    }
        
    h1 {
        font-size: ;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 40px;
    }
    
    header h2 {
        font-style: italic;
        margin: -.5em 0 1em 0;
        font-size: 1.75em;
        padding-bottom: 2em;}

    .intro {
        font-size: 1.25em;
        line-height: 1.9em;
      }
    
.anchor {text-transform: uppercase;
font-size: .75em;}


blockquote {}
    
cite {}  
       
/*----------------- SPECIFIC TYPOGRAPHIC STYLING ------------------*/

   .intro {
        font-size: ;
    }
        
    .openingtext {
        text-transform:uppercase;
    }

/*--------------- LINKS --------------*/
       

    a {
        color:#c06;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
        
    a:hover {
        text-decoration: underline;
        color: navy;
    }

/*--------------- NAV ---------------*/
    
    nav {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }    
        
    nav ul {
        text-align: center;
       
    }
    
    nav ul li {
        display: inline;
        margin: 10px;
    }
 