

body{
    
        width: 75%;
        max-width: 700px;
        min-height: 320px;
        font-size: 100%;
        font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman', serif; 
        margin: auto;
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.8em;}
    
section {padding: 4em 0 4em 0;}
            
           
        

/* TYPOGRAPHY */

        h1, h2, h3 {
        font-weight: normal;
        color: #c06;
        line-height: 1.3em;
        text-align: 1.5em;}


        h1 {font-size: 3.375em;}
        h2 {font-size: 2.25em;}
        h3 {font-size: 1.5em;} 

header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 40px;}
    
    header h2 {
        font-style: italic;
        font-size: 1.8em;
        padding: -.5em 0 1em 0;}
    
}
    
.intro {
    font-size: 1.25em;
    line-height: 1.9em;
    padding: 4em 0 4em 0;}


/* -------------- LINKs -------------------- */

a {
    color: #c06;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;}
    
    a:hover {
        
        text-decoration: underline;
        color:navy;}



/*----------------- TYPOGRAPHY ---------------*/
    
    h1, h2, h3 {
        font-weight: normal;
        color: #c06;
        text-align: center;
        margin: 10px 0 10px 0;}

        
h1 {font-size:3.375em;}
h2 {font-size: 2.25em;}
h3 {font-size: 1.5em;}

    header h1 {
        font-size:3.375em;
        text-transform: uppercase;
        color: #c06;
        letter-spacing: 4px;
        margin-top: 40px;}
    
    header h2 {
        font-style: italic;
        font-size: 1.8em;
        margin: 1em 0 2em 0;}

    .intro {
        font-size: 1.25em;
        line-height: 1.9em;
        padding: 2em 0 2em 0;}


blockquote {
    padding: 2em 0;
    font-size: 1.75em;
    line-height: 1.5em;
    margin: 0;}
    
blockquote cite {
    font-size: .75em;}  

.anchor { 
    text-transform: uppercase;
    font-size: .75em;}



/*--------------- NAV ---------------*/
    
    nav {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;}    
        
    nav ul {
        text-align: center;}
    
    nav ul li {
        display: inline;
        margin: 10px;}
    