      body{
            width: 75%;
            max-width: 650px;
            min-width: 320px;
            font-size: 100%;
            font-family: 'Libre Baskerville', Georgia, Times,'Times New Roman', serif;
            margin: auto;
            background-color: aliceblue; 
            color: #333;
            line-height: 1.8em;
            
           }
        

/* TYPOGRAPHY */

        h1, h2, h3 {
        font-weight: normal;
        color: #c06
        }


                
        h1 {font-size: 3.375em;}
        h2 {font-size: 2.25em;}
        h3 {font-size: 1.5em;} 
    
.intro {
    font-size: 1.25em;
    line-height: 1.9em;
    padding: 4em 0 4em 0}
